<section class="card">
  <h1>{{ i18n.t('venues.accept.title') }}</h1>

  @switch (state()) {
    @case ('working') {
      <p data-testid="accept-working">{{ i18n.t('common.loading') }}</p>
    }
    @case ('done') {
      <p class="success" data-testid="accept-success">
        {{ i18n.t('venues.accept.joined') }} {{ venue()?.name }}
      </p>
      <p>
        <a [routerLink]="['/venues', venue()?.id]">{{ i18n.t('venues.members.title') }}</a>
      </p>
    }
    @case ('failed') {
      <p class="form-error" data-testid="accept-error">{{ i18n.t(pageError()) }}</p>
      <p>
        <a routerLink="/venues">{{ i18n.t('venues.title') }}</a>
      </p>
    }
  }
</section>
